html {
  overflow-x: hidden;
}
body {
    font-family: 'Rajdhani', sans-serif;
    overflow-x: hidden;
}
/* ::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 254, 254);
  border-radius: 20px;
} */

/****circle and all*****/
.overlay {
    background: url("logos/green banner trans.png");
    background-size: cover;
    background-repeat:no-repeat;
    
    height:100vh;
}
#outer {
    background: url("logos/images banner.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed; 
}
#inner a {
  color:rgb(49,70,73);
  text-decoration:none;

}
#inner a:link {
  color:rgb(24, 135, 150);
  font-weight:bold;
}



/*********************navbar*****************/

.header-scrolled {
    background-color:rgb(49,70,73);
    /* height:60px;  */
}

#trans-logo {
    width:140px;
    height:140px;
    border-radius:50%;
    
}
.nav-link:hover{
    text-decoration: none;
    color:white;
    
}
.nav-link {
    color:white;
    font-weight:bold;
    font-size:1.2em;
}
.nav-scrolled {
    color:rgb(220,179,116)!important;
}
 /***for navbar going inside after scrolling****/
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }




/***animation of buttons***/
.btn-5 {

        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        text-decoration:none;
        
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         text-align: center;
         vertical-align:center;
        outline: none;
      
    width: 90px;
    height: 40px;
    
    padding: 0;
    border: none;
    background:transparent;
 /* background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);*/
  }
  .btn-5:hover {
    color: white;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
   
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .btn-5a {
    color:rgb(220,179,116)!important;
  }
  .btn-5a:before,
  .btn-5a:after {
    color:rgb(220,179,116)!important;
    background: rgb(220,179,116)!important;
  }
  .btn-5a:hover {
    color:rgb(220,179,116)!important;
  }

 #inner {
     margin-top:35vh;
     position:absolute;
     margin-left:6vw;
 }

 #inner h1 {
     font-size:3em;
     margin-bottom:0px;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     /* text-shadow: 1px 1px 1.5px rgb(95, 91, 91); */
     
     
 }
 #inner p {
     width:52vw;
     font-size:1.2em;
     padding-top:0px;
     color:rgb(183, 186, 197);
 }

 /* .show {
    position:fixed;
    left:0;
    width:250px;
    height:100%;
    background-color:rgba(49,70,73);


} */



/********** Impact ************/
#impact {
    width:102%;
    
    background-color:rgb(39, 77, 83);
    text-align: center;
    color:white;
    

}

.impact-item {
    margin-top:20px;
    margin-bottom:20px;
}
.impact-item p {
    font-size:2.8em;
    margin-bottom:-7px;
    
    font-family: 'Bebas Neue', cursive;
}
.impact-item div {
    font-size:1.2em;
    margin-top:-5px;
    padding-top:0px;
}






/***************** board members ***************/

#meet {
    color:black;
    font-size:4em;
    text-align:center;
}

figure.snip1104 {
    position: relative;
    overflow: hidden;
    margin-bottom:50px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: rgb(39, 77, 83);
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    
  }
  
  figure.snip1104 * {
    
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  figure.snip1104 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  
  figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  figure.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: rgb(39, 77, 83);
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  figure.snip1104 h2 span {
    font-weight: 800;
  }
  
  figure.snip1104:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  
  figure.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }



  figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}



/****************blogs********************/
/* .card {
  
  padding: 0 1.7rem;
  width: 50%;
} */

.card1 .wrapper {
  background-color: #fff;
  width:250px;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card1 .wrapper:hover .data {
  transform: translateY(0);
}
.card1 .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(100px + 1em));
  transition: transform 0.3s;
}
.card1 .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card1 .author {
  font-size: 12px;
}
/* .card .title {
  margin-top: 10px;
} */
.card1 .text {
  height: 80px;
  margin: 0;
}
.card1 input[type='checkbox'] {
  display: none;
}
.card1 input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}
.example-1 .wrapper {
  background: url(logos/blog-bg.png) 20% 1% / cover no-repeat;
}
.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgb(39, 77, 83) ;
  color: #fff;
  padding: 0.8em;
  border-bottom-right-radius: 20px;
}
.example-1 .date span {
  display: block;
  text-align: center;
}
.example-1 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.example-1 .date .month {
  text-transform: uppercase;
}
.example-1 .date .month, .example-1 .date .year {
  font-size: 12px;
}
.example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
  color: #808080;
  text-decoration:none;
  font-size:0.7em;
  line-height:15px;
  
}







.column{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/*-- contact-section --*/
.contact{
	  background: rgb(49,70,73);
	padding:6em 0em;
	overflow: hidden;
  
}
.contact h3{
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  /* border-bottom: 2px solid rgb(220,179,116); */
  width: 220px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom:40px;
  padding-left:10px;
}

.contact .text-field-name-1 input[type="text"]{
	  width: 100%;
  padding: 1.5% 0;
  margin-bottom: 7%;
  background: none;
  color: white;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
  border:none;
  border-bottom: 1px solid white;
  
  border-radius: 3px;
}
.contact .text-field-email-1 input[type="text"]{
  width: 100%;
padding: 1.5% 0;
margin-bottom: 7%;
background: none;
color:white;
font-size: 18px;
outline: none;
font-weight: 400;
text-indent: 10px;
border:none;
border-bottom: 1px solid white;
border-radius: 3px;
}
.contact .text-field-subject-1 input[type="text"]{
  width: 100%;
padding: 1.5% 0;
margin-bottom: 7%;
background: none;
color: white;
font-size: 18px;
outline: none;
font-weight: 400;
text-indent: 10px;
border:none;
border-bottom: 1px solid white;
border-radius: 3px;
}
.contact .text-field-area- textarea {
	resize:none;
	width: 100%;
	padding: 2% 0;
	margin-bottom: 5%;
	background:none;
	color: white;
	font-size:18px;
	outline: none;
	font-weight:400;
	text-indent: 10px;
	border:none;
border-bottom: 1px solid white;
	min-height: 170px;
	border-radius: 3px;
}
.contact .button input[type="submit"] {
	background: rgb(220,179,116);
	padding: 0.5em 3em;
	color:white;
	font-size: 19px;
	font-weight: 400;
	display: block;
	outline: none;
	border: none;
	border-radius:5px;
	text-transform:uppercase;
	
	font-weight: bold;
	cursor: pointer;
	float: right;
}	
.contact .button input[type="submit"]:hover{
  background:white ;
  color: rgb(220,179,116);
}
/*-- contact --*/

.wrap {
  width: 80%;
  margin: 0px auto;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font: inherit;
}




/******* footer left ******/

#left {
  background-color:rgb(49,70,73);
}
#left div {
  position:relative;
  margin-bottom:80px;

}
#left div:nth-child(1) {
  margin-top:100px;
  z-index:1
}


#left div p {
  color:rgba(250, 172, 56, 0.685);
  font-size:4em;
  position:absolute;
  margin-left:25%;
  font-family: 'Kaushan Script', cursive;
  
}

#left div h2 {
  margin-left:32.5%;
  padding-top:52px;
  color:white;
  font-size:2.5em;
}



/* *****right footer**** */
#right {
  background-color:rgb(233,233,233);
  position:relative;
 

}

.list-item svg {
  margin-right:-18px;
  margin-left:-13px;
  
}




#bottom-foot {
  background-color:rgb(49,70,73);
  height:300px;
}





#copy-right p {
  margin:0 auto;
  font-size:0.7em;
  text-align:center;
  margin:15px;
  color:rgb(134,142,154);
}


.direct-contact-container {
  min-width: 325px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  line-height:34px;
}

.list-item {
  line-height: 5;
  color: rgba(0, 0, 0, 0.527);
}

.contact-text {
  font:  20px 'rajdhani', sans-serif;
  letter-spacing: 2.4px;
  color: black;
}

.place {
  margin-left: 29px;
}

.phone {
  margin-left: 29px;
}

.gmail {
  margin-left:29px;
}
.instagram{
  margin-left:29px;
}
.list-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 0.2s;
}

.list-item a:hover {
  color: rgb(220,179,116);
  text-decoration: none;
}



.right_hr {
  border-color: rgba(255,255,255,.6);
  
}
/* footer {
  
} */






/* **************newsletter ************/
#send svg {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 15px;
  top: 0;
  transition: transform 0.25s ease, width 0.25s ease;
}


#send {
  position: absolute;
  right: 0;
  width: 8%;
  height: 60px;
  border: 0;
  background: rgb(49,70,73);
  cursor: pointer;
  outline: none;
  transition: width 0.1s ease;
}
#send .send {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: opacity 0.25s ease;
}
#send:hover {
  width: 20%;
}
#send:hover .send {
  opacity: 1;
}
#send:hover .divider {
  animation: divider 0.15s 0.2s linear forwards;
}
#send:hover svg {
  width: 23px;
  transform: rotate(-18deg) translateX(10px) translateY(3px);
  z-index: 10;
}
.divider {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 50;
  transform: translateY(-50%);
  width: 10px;
  height: 0;
  background: rgb(49,70,73);
  border-left: 1px solid white;
}
@keyframes divider {
  to {
    height: 60%;
 }
}
#p2 {
  opacity: 0;
}
.more-concepts {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-decoration: none;
  color: rgb(78, 38, 38);
}
.more-concepts:hover {
  text-decoration: underline;
}
#mce-EMAIL {
  width: 100%;
  height:59px;
}
#send {
  margin-right:15%;
}
.mc-field-group {
  margin: 0 15%;
}
#mc_embed_signup {
  margin-top:70px;
}
#mc_embed_signup h2{
font-size:1.7em;
color:white;
/* font-family:Comic */
/* font-weight: lighter; */
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */

}
input {
  color: -internal-light-dark(black, black);
}



  /********** Large devices only lg**********/ 
@media (min-width: 992px) { 
   #logo-outer {
       margin-left:40px;
       }
   
#sidenavlogo {
    visibility:hidden;
    position:absolute;
}
.board {
    display:flex;
    
    flex-direction:row;
    justify-content:space-evenly;
}
 .blogs-con {
   display:flex;
   flex-direction:row;
   justify-content:space-evenly;
 }
 .card1 .wrapper {
   width:300px;
 }
.contact h3 {
 margin-bottom:20px;
font-size:4em;
width:fit-content;
}
 .contact  {
  
  background-color: rgb(233,233,233);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  padding-top:40px;
  
}
.contact .container {
  background-color: white;
  width:70%;
  margin:0 auto;
  margin-top:48px;
  padding:60px;
  border-radius:40px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.contact h3{
  color:black;
  margin-top: 9px;
}

.contact .text-field-area- textarea {
  color: rgb(177,175,175);
  border-bottom:solid 1px rgb(165, 164, 164);
  margin-bottom:2%;

}
.contact .text-field-subject-1 input[type="text"] {
  color: rgb(177,175,175);
  border-bottom:solid 1px rgb(165, 164, 164);
  margin-bottom:2%;
}
.contact .text-field-email-1 input[type="text"]{
  color: rgb(177,175,175);
  border-bottom:solid 1px rgb(165, 164, 164);
  margin-bottom:2%;
}
.contact .text-field-name-1 input[type="text"]{
  color: rgb(177,175,175);
  border-bottom:solid 1px rgb(165, 164, 164);
  margin-bottom:2%;
}
#send:hover {
  width: 10%;
}
#send {
  width: 6%;
}
#right div:nth-child(1) {
  position:absolute; 
  
  top:50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}   
.hr_forfooter {
  display:none;
}



}
/********** Medium devices only md **********/ 
@media (min-width: 768px) and (max-width: 991px) { 
    #inner p {
        width:65vw;
    }
    #some {
        width:100%;
    
    }
    #navbarSupportedContent {
        /* position:fixed; */
        position:absolute;
        left:0;
        width:250px;
        height:1000%;
        background-color:rgba(49,70,73);
    
       }
       #navbarSupportedContent  ul {
          margin-top: 300%;
        
        
       }
       #navbarSupportedContent li {
        border-bottom: solid 1px rgb(220,179,116);
        width:100%;
        border-radius:0px;

}
#sidenavlogo {
    visibility:visible;
    margin-bottom:40px;
    margin-left:70px;
  
    
}
.margin-setter {
    margin-top:220%!important;
}
.board {
    display:flex;
    
    flex-direction:row;
    justify-content:space-evenly
}
.blogs-con {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.card1 .wrapper {
  width:220px;
  height:300px;
}
#send:hover {
  width: 16%;
}
#send {
  width: 8%;
}
#right div:nth-child(1) {
  position:absolute; 
  
  top:50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}   
.hr_forfooter {
  display:none;
}


}



/********** small devices only **********/ 
@media (min-width: 576px) and (max-width: 767px) { 
   #inner p {
       width:75vw;
   }
   #navbarSupportedContent {
    /* position:fixed; */
    position:absolute;
    left:0;
    width:250px;
    height:1000%;
    background-color:rgba(49,70,73);

   }
   #navbarSupportedContent  ul {
      margin-top: 300%;
    
    
   }
   #navbarSupportedContent  ul .btn-5 {
    
  color:rgb(220,179,116);
  
 }


 #navbarSupportedContent  ul .btn-5:hover {
    
    color:rgb(220,179,116)!important;
    
   }

   #navbarSupportedContent li {
       border-bottom: solid 1px rgb(220,179,116);
       width:100%;
       border-radius:0px;
   }
      
       #sidenavlogo {
        visibility:visible;
        margin-bottom:40px;
        margin-left:70px;
        
    }
    .margin-setter {
        margin-top:220%!important;
    }
    .board {
        display:flex;
        flex-direction:column;
        align-items: center!important;
    }
    .blogs-con {
      display:flex;
      flex-direction:column;
      align-content:center;
      
     
    }
    .card1 .wrapper {
        margin:30px auto;
        width:300px;
    }
    #send:hover {
      width: 18%;
    }
    #send {
      width: 8%;
    }
    #right div:nth-child(1) {
      position:absolute; 
      
      top:50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }   
    .hr_forfooter {
      display:none;
    }
  
}




/*********** Extra small devices only **********/ 
@media (max-width: 575px) { 
  #inner p {
      width:90vw;
    
  }

    #navbarSupportedContent {
        position:absolute;
        left:0;
        width:250px;       
        height:1000%;
        background-color:rgba(49,70,73);

    }
     #navbarSupportedContent  ul {
         margin-top: 300%;
 
 
      }
      .margin-setter {
        margin-top:220%!important;
    }
     #navbarSupportedContent li {
    border-bottom: solid 1px rgb(220,179,116);
    width:100%;
    border-radius:0px;
    }
    #sidenavlogo {
        visibility:visible;
        margin-bottom:40px;
        margin-left:70px;
        
    }
    .overlay {
        background: url("logos/for-mobile trans.png");
        background-size: cover;
        background-repeat:no-repeat;
        
        height:100vh;
    }
    #outer {
        background: url("logos/for-mobile banner.png");
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed; 
    }

    

    
    #inner {
        margin-top:76%;
        margin-left:4px;
    }

    #trans-logo{
        visibility:hidden;
    }
    .board {
        display:flex;
        flex-direction:column;
        align-items: center!important;
    }
    #meet {
      font-size:2.8em;
    }
  
  .blogs-con {
    display:flex;
    flex-direction:column;
    align-content:center;
    
   
  }
  .card1 .wrapper {
      margin:30px auto;
      width:300px;
  }
  #send:hover {
    width: 25%;
  }
  #send {
    width: 14%;
  }

  #left {
    display:none;
  }
 
  #right {
    background-color: rgb(49,70,73);
    padding-left:45px;
  
    
  }
  .direct-contact-container {
    background-color: rgb(49,70,73);
    margin:auto 0;
   
  }
  .right_hr {
    display:none;
  }
  .list-item a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .list-item {
    line-height: 5;
    color: white;
  }
  .contact-text {
    color:white;
  }
  .hr_forfooter {
    width:70%; 
    margin: auto; 
    color:white;
    height:10px;
   border:20px;
   border-color:white;
   margin-bottom:35px;
   margin-top:35px;
    

  }
  #forfooter{
    background-color:rgb(49,70,73);
  }
  #mc_embed_signup h2 {
    font-size:20px;
    letter-spacing: 1.2px;
  }
  #mce-EMAIL {
    width: 250px!important;
  }
  .mc-field-group {
    margin:0!important;
  }

  

}